body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.red {
    color: red;
}

#content {
    position: absolute;
    width: 100%;
    margin-top: 25vh;
}

h1 {
    text-align: center;
}

hr {
    border-image: -webkit-linear-gradient(0deg,transparent 3%,black 50%,transparent 97%) 20 stretch;
}

#countdown {
    font-family: 'Roboto', sans-serif;
    font-size: 3em;
}

#cookie {
    width: 10%;
}

@media only screen and (max-width: 768px) {
    #cookie {
        width: 20%;
    }

    #countdown {
        font-size: 2em;
    }
}
